{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="row p-5">
  <div class="col">
    <h1 class="myhead2">About Us</h1>
    <hr>
  </div>
  <div class="row text-justify">
    <div class="col-sm-6">
      <p><b> OBJECTIVE :- </b>E-Sabha is a web based communication media , which allow user to share information ,photos
        and create contents,
        E-Sabha is a place to share photos, posts. It’s a website to connect with people, to be in touch.
        E-Sabha you can follow some users, you can see their profile and like there posts.

      <p><b>PROJECT OVERVIEW :- </b><b>1.</b> ESabha Mission is to give people the power to build community and bring
        the world closer together.
        <b> 2.</b> ESabha can be accessed from devices with Internet connectivity, such as personal computers, tablets
        and Smartphone's.
        <b>3.</b> After registering, users can create a profile revealing information about themselves. They can post
        text and photos which is shared with any other users.

      <p><b> PURPOSE :- </b>ESabha's purpose is to give people the power to build community and bring the world closer
        together. People use ESabha to stay connected with friends and family, to discover what's going on in the world,
        and to share and express what matters to them.
        <br>


    </div>
    <div class="col-sm-6">

      <h2 class=text-center>METHODOLOGY USED</h2><br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Front End </th>
            <th scope="col">Back End </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>HTML</td>
            <td>PYTHON</td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CSS</td>
            <td>DJANGO</td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>BOOTSTRAP</td>
            <td>FRAMEWORK</td>

          </tr>
          <tr>
            <th scope="row">4</th>
            <td>JAVA SCRIPT</td>
            <td>SQLITE
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="row my-5">
      <div class="col-sm-12 offset-sm-2">

        <h2 class="text-center">ADVANTAGE & LIMITATIONS</h2><br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Advantages of E S
              </th>
              <th scope="col">Limitation of ESabha
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Social media can lead to more communication</td>
              <td>Lacks Emotional Connection</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Students can use technology to form study groups</td>
              <td>Gives People a License to be Hurtful</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Social media offers students a way to stay in touch with friends if they move</td>
              <td>Decreases Face-to-Face Communication Skills</td>

            </tr>
          </tbody>
        </table> <br><br><br>
      {% endblock %}