{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block content %}
<main class="p-5">

	<div class="row">
		<div class="col">
			<h1 class="myhead2">Contact</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<p>
				<strong><span class="fa fa-map-marker mx-2"></strong> Near Sontashi Mandir, Sontashi Nagar Khamatari
				Raipur (C.G)<br><br>
				<strong><span class="fa fa-phone mx-2"></strong> +91 8770099860<br><br>
				<strong><span class="fa fa-fax mx-2"></strong> +91 8770099860<br><br>
				<strong><span class="fa fa-globe mx-2"></strong> www.eshabha.com<br><br>
		</div>
	</div>
	<div class="row my-5">
		<div class="col-sm-8 offset-sm-2">
			<h1 class="text-center">Eassy Way To Direction</h1><br>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.1535647719967!2d81.82028363297874!3d21.167744047644767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c6d85c5435e3%3A0xa9be51774e7a93d2!2sKalinga%20University%20Raipur!5e0!3m2!1sen!2sin!4v1596389673508!5m2!1sen!2sin"
					frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>

</main>
{% endblock %}